@model IEnumerable<WebApplication1.Models.ProcessSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Process</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bodyPart)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bodyPart)
            </td>
        </tr>
    }

</table>
